In [1]:
import pandas as pd

In [9]:
fighters_info = {
    'name' : ['john cena', 'brock lesnar', 'undertaker'],
    'height' : [6.3, 6.1, 6.5],
    'weight' : [430, 442, 444],
    'discipline' : ['smack down', 'wwe', 'wwe']
}
fighters = pd.DataFrame(fighters_info)

In [10]:
managers_info = {
    'name' : ['mcmohan', 'triple h', 'domingo'],
    'net worth' : [1200, 752, 1400],
    'discipline' : ['raw', 'wwe', 'smack down']
}
managers = pd.DataFrame(managers_info)

In [13]:
fighters

           name  height  weight  discipline
0     john cena     6.3     430  smack down
1  brock lesnar     6.1     442         wwe
2    undertaker     6.5     444         wwe

In [14]:
managers

       name  net worth  discipline
0   mcmohan       1200         raw
1  triple h        752         wwe
2   domingo       1400  smack down

In [15]:
fighters['name']

0       john cena
1    brock lesnar
2      undertaker
Name: name, dtype: object

In [17]:
managers['net worth']

0    1200
1     752
2    1400
Name: net worth, dtype: int64

In [32]:
fighters_net_worth = pd.concat([fighters['name'], managers['net worth']], axis=1)

In [33]:
fighters_net_worth

           name  net worth
0     john cena       1200
1  brock lesnar        752
2    undertaker       1400

In [39]:
fighters_net_worth = fighters_net_worth.rename(
    index = {0 : 'first', 1 : 'second', 2 : 'third'}
)

In [40]:
fighters_net_worth

            Invester  net worth
first      john cena       1200
second  brock lesnar        752
third     undertaker       1400

In [ ]:
# Sort the table by percentage of missing descending

mis_val_table = mis_val_table[mis_val_table.iloc[:,1] != 0].sort_values('% of Total Values', ascending=False).round(1)

In [2]:
n = int(input())
X = []
for i in range(n):
    X.append([float(x) for x in input().split()])
y = [int(x) for x in input().split()]
datapoint = [float(x) for x in input().split()]


from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X, y)

prediction = model.predict(datapoint)
print(prediction)

6
13
35
57
31
53
75
1

KeyboardInterrupt: Interrupted by user

In [27]:
n = int(input())
X = []
for i in range(n):
    X.append([float(x) for x in input().split()])
y = [int(x) for x in input().split()]
datapoint = [float(x) for x in input().split()]


from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X, y)

6
1 3
3 5
5 7
3 1
5 3
7 5
1 1 1 0 0 0
2 4

LogisticRegression()

In [29]:
datapoint

[2.0, 4.0]

In [30]:
model.predict([datapoint])

array([1])

In [32]:
print(*model.predict([datapoint]))

1