In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('Data/first_data.csv')

In [4]:
data

    epoch  train_loss  train_acc  validation_loss  validation_acc
0       1    6.989439   0.001150        80.856150        0.000000
1       2    6.814090   0.002807         6.786588        0.004883
2       3    6.516962   0.007390         6.511988        0.011719
3       4    6.149220   0.014932        10.393121        0.005859
4       5    5.769540   0.027580         5.938978        0.015625
..    ...         ...        ...              ...             ...
94     95    0.008084   0.999696         6.287661        0.227314
95     96    0.007909   0.999611         6.166366        0.241612
96     97    0.007696   0.999882         6.388889        0.229542
97     98    0.008200   0.999510         6.258015        0.235126
98     99    0.008014   0.999679         6.082789        0.238331

[99 rows x 5 columns]

In [5]:
data.info() # to get info about the data. we can check if there's any missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   epoch            99 non-null     int64
 1   train_loss       99 non-null     float64
 2   train_acc        99 non-null     float64
 3   validation_loss  99 non-null     float64
 4   validation_acc   99 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 4.0 KB

In [7]:
data['train_loss'] # getting one specific column

0     6.989439
1     6.814090
2     6.516962
3     6.149220
4     5.769540
        ...
94    0.008084
95    0.007909
96    0.007696
97    0.008200
98    0.008014
Name: train_loss, Length: 99, dtype: float64

In [13]:
data[:13]  # getting a sliced portion of the dataset

    epoch  train_loss  train_acc  validation_loss  validation_acc
0       1    6.989439   0.001150        80.856150        0.000000
1       2    6.814090   0.002807         6.786588        0.004883
2       3    6.516962   0.007390         6.511988        0.011719
3       4    6.149220   0.014932        10.393121        0.005859
4       5    5.769540   0.027580         5.938978        0.015625
5       6    5.433582   0.044068         6.068404        0.017578
6       7    5.145537   0.065797         5.505190        0.041642
7       8    4.888668   0.087815         5.755574        0.056290
8       9    4.653337   0.111641         6.045259        0.043595
9      10    4.420462   0.135992         5.893400        0.054337
10     11    4.198778   0.161644        17.626006        0.001953
11     12    4.151896   0.168544         5.696584        0.070312
12     13    3.833489   0.209044         7.487904        0.095628

In [36]:
data.iloc[11][4]  # getting a specific value by row and column

0.0703125

In [44]:
data.loc[3, 'train_loss']

6.1492203886890815